extends base.pug

block content
    form(action=`/items/${item.id}?_method=PATCH`, method="POST")
        input(type="text" name="name" value=`${item.name}`)
        input(type="text" name="price" value=`${item.price}`)
        input(type="text" name="quantity" value=`${item.quantity}`)
        input(type="submit" value="Create")
    form(action=`/items/${item.id}?_method=DELETE`, method="POST")
        input(type="submit" value="X")