extends ../base.pug

block content
  h1 See all the items for #{foundUser.firstName}!
  a(href=`/users/${foundUser.id}/items/new`) Make a new one!
  ul
  each item in foundUser.items
    li(id = `${item.id}`) #{item.name}  
      a(href=`/users/${foundUser.id}/items/${item.id}/edit`) Edit

  