extends ../base.pug

block content

  h1 #{foundItem.name} 

    a(href=`users/${foundItem.user.id}/items/${foundItem.id}/edit`)    click here to edit

  form(action=`users/${foundItem.user.id}/items/${foundItem.id}?_method=DELETE` method = "POST")
    input(type = "submit", value = "delete this item")

