extends base.pug

block content
  ul all items
    for item in items
      a(href=`/items/${item.id}`)
        li(id = `${item.id}`) #{item.name} $ #{item.price} #{item.quantity}
  a(href = '/items/new') Add a new item
  
  form(action="/items?_method=DELETE" method = "POST")
    input(type = "submit", value = "Delete all items")
  
  form(action = '/items/search', method = "GET")
    input(type="submit", value = "click here to search")
 
  
