extends base.pug

block content
  h1(class="text-center") Info on the FFB (Future FurBaby)
  div(class="mx-auto text-center")
    h6 Type: #{pet.type}
    h6 Breed: #{pet.breed}
    h6 Possible Names: #{pet.petNames}
    h6 Website: #{pet.petUrl}
    h6 Notes: #{pet.petNotes}
  a(href=`/pets/${pet.id}/edit`) Edit
  div
    a(href="/pets") Go back to the List
  div
    form(action=`/pets/${pet.id}?_method=DELETE` method="POST")
  div
      button(class="btn btn-danger") Delete It
