extends base.pug

block content
    h1 The to-do-list
    br
    table.table.table-striped
        thead
            tr
                th(scope='col') ID
                th(scope='col') Name
                th(scope='col') Price
                th(scope='col') Edit Link
                th(scope='col') Delete Link
            
            tbody
                for item in items
                    tr
                        //- th(scope='row')
                        td #{item.id}
                        td #{item.name}
                        td #{item.price}
                        td edit link
                        td delete link
    
    br
    br
    a(href="/items/new") Add a new to-do!




//- for item in items
    //-     li #{item.id} #{item.name}, #{item.price}
